/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
    height: 100%;
    overflow: hidden;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Custom properties */
:root {
  /* Text colors */
  --sub-heading-clr: hsl(276, 100%, 81%);
  --chat-left-txt-clr: hsl(276, 55%, 52%);
  --chat-right-txt-clr: hsl(271, 15%, 43%);
  --chat-left-bg-clr: hsl(276, 38%, 92%);
  --placeholder-txt-clr: hsl(206, 6%, 79%);
  --main-heading-clr: hsl(271, 36%, 24%);
  --par-clr: hsl(270, 7%, 64%);
  /* Gradient colors */
  --grad-top-clr: hsl(293, 100%, 63%);
  --grad-bot-clr: hsl(264, 100%, 61%);
  /* Secondary colors */
  --white-clr: hsl(0, 0%, 100%);
  --app-bg-clr: hsl(270, 20%, 96%);
  --btn-bg-clr: hsl(271, 36%, 24%);
  --btn-radio-clr: hsl(289, 100%, 72%);
  /* Font families and weights */
  --ff-rubik: 'Rubik', sans-serif;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
}

/* Styling */
body {
    height: 100vh;
    background-color: #fafafa;
    font-family: var(--ff-rubik);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 4rem 2.25rem;
}

/* ====== Backgrounds ====== */
.purple-bg {
  -webkit-mask-image: url(images/bg-shape.svg);
  mask-image: url(images/bg-shape.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background: linear-gradient(225deg, rgba(206,68,253,1) 0%, rgba(146,62,252,1) 100%);
  width: 500px;
  aspect-ratio: 4/6.25;
  position: absolute;
  left: -19.75rem;
  top: -17rem;
  transition: left 1s ease-in-out, top 1s ease-in-out;
  z-index: -1;
}

.light-grey-bg {
  -webkit-mask-image: url(images/bg-shape.svg);
  mask-image: url(images/bg-shape.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background: linear-gradient(225deg, rgba(248,243,249,1) 0%, rgba(248,243,249,1) 100%);
  width: 500px;
  aspect-ratio: 4/6.25;
  position: absolute;
  right: -19.75rem;
  bottom: -17rem;
  transition: right 1s ease-in-out, bottom 1s ease-in-out;
  transform: rotate(180deg);
  z-index: -1;
}

/* ====== Phone section ====== */
.phone {
  background-color: var(--white-clr);
  width: 15.5rem;
  padding: 0.625rem;
  border-radius: 2rem;
  box-shadow: 0px 5px 20px -15px black;
}

.app {
  border-radius: 1.5rem;
  overflow: hidden;
  overflow: hidden;
  background-color: var(--app-bg-clr);
}

.header {
  background: linear-gradient(90deg, rgba(141,61,252,1) 0%, rgba(229,69,253,1) 100%);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  box-shadow: 0px 5px 20px -15px black;
}

.camera {
  background-color: var(--white-clr);
  width: 8rem;
  height: 1.75rem;
  border-radius: 2rem;
  position: relative;
  top: -0.719rem;
  margin: 0 auto;
}

.avatar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 1rem 0.5rem 1rem;
}

.fa-angle-left {
  color: var(--white-clr);
  transform: scale(1,2);
  font-size: 0.5rem;
}

.avatar-img {
  width: 1.5rem;
  border-radius: 3rem;
  border: 1px solid var(--white-clr);
}

.name {
  color: var(--white-clr);
  font-size: 0.7rem;
}

.status {
  color: var(--sub-heading-clr);
  font-size: 0.5rem;
}

.fa-ellipsis-vertical {
  margin-left: auto;
  color: var(--white-clr);
  font-size: 0.5rem;
  transform: scale(1,1.25)
}

.chat {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.5rem;
  padding: 0.75rem;
}

.message {
  max-width: 8rem;
  padding: 0.25rem 0.5rem;
}

.one,
.two,
.six {
  color: var(--chat-left-txt-clr);
  background-color: var(--chat-left-bg-clr);
  border-radius: 0.5rem 0.5rem 0.5rem 0.25rem;
}

.three {
  display: flex;
  gap: 0.5rem;
  max-width: fit-content;
  margin-left: auto;
  padding: 0;
  margin-top: 0.5rem;
}

.three img {
  max-width: 2.5rem;
  border-radius: 0.75rem;
}

.four,
.five {
  background-color: var(--white-clr);
  color: var(--chat-right-txt-clr);
  margin-left: auto;
  border-radius: 0.5rem 0.5rem 0.25rem 0.5rem;
  box-shadow: 0px 1px 15px -9px black;
}

.six {
  margin-top: 0.5rem;
}

.seven,
.eight {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: linear-gradient(270deg, rgba(141,61,252,1) 0%, rgba(229,69,253,1) 100%);
  color: var(--white-clr);
  padding: 0.5rem;
  border-radius: 0.75rem 0.75rem 0.75rem 0.25rem;
  max-width: 10rem;
}

.fa-circle {
  color: var(--white-clr);
  font-size: 0.75rem;
}

.price {
  font-size: 0.75rem;
  font-weight: var(--fw-bold);
  margin-left: auto;
  padding-right: 0.5rem;
}

/* ====== Content section ====== */
.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.title {
  color: var(--main-heading-clr);
  font-size: 2.5rem;
  font-weight: var(--fw-medium);
}
.description {
  color: var(--par-clr);
  line-height: 1.75;
}

.form {
  background-color: var(--white-clr);
  display: flex;
  border-radius: 2rem;
  padding: 0.375rem;
  margin-top: 0.5rem;
}

#typing {
  border: none;
  font-size: 0.6rem;
  margin-left: 0.5rem;
}

#typing::placeholder {
  color: var(--placeholder-txt-clr);
}

.send-message {
  font-size: 0.75rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--btn-bg-clr);
  color: var(--white-clr);
  padding: 0.2rem 0.5rem;
  margin-left: auto;
}

/* ====== Active states & animations ====== */
#typing:active,
#typing:focus {
  outline: none;
}

/* Desktop view */
@media screen and (min-width: 1024px) {

  /* ====== Backgrounds ====== */
  .purple-bg {
    left: -5rem;
    top: -6rem;
    transition: left 1s ease-in-out, top 1s ease-in-out;
  }
  .light-grey-bg {
    right: -11rem;
    bottom: -6rem;
    transition: right 1s ease-in-out, bottom 1s ease-in-out;
  }
}