/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
    height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Custom properties */

/* Styling */
html {
    overflow: hidden;
}

body {
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

body::before {
    background-image: linear-gradient(25deg, rgba(144,58,254,1) 0%, rgba(206,65,255,1) 100%);
    content: "";
    /* width: 550px */
    width: 34.375rem;
    /* height: 700px */
    height: 43.75rem;
    position: absolute;
    top: 0;
    left: -8rem;
    z-index: -1;
    border-bottom-right-radius: 17rem;
    border-bottom-left-radius: 17rem;
}

body::after {
    background-image: linear-gradient(30deg, rgba(250,245,251,1) 0%, rgba(247,245,250,1) 100%);
    content: "";
    /* width: 550px */
    width: 34.375rem;
    /* height: 700px */
    height: 43.75rem;
    position: absolute;
    bottom: 0;
    right: -8rem;
    z-index: -1;
    border-top-right-radius: 17rem;
    border-top-left-radius: 17rem;
}

@media screen and (max-width: 800px) {
 body::before {
    left: -22.5rem;
    top: -11rem;
 }

 body::after {
    right: -22.5rem;
    bottom: -11rem;
 }
}